##############################
## Java
##############################
algo/**/**/bin/*.class
algo/**/**/README.md
*.jar

##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace
